{    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* text-transform: capitalize; */
    scroll-behavior: smooth;

}


/* header section starts from here */



header{
    width: 100%;
    height: 100vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Pahalgam_Valley.jpg/330px-Pahalgam_Valley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    text-transform: capitalize;


}
nav{
    width: 100%;
    height: 15vh;
    background-color:black;
    color: white;
    display: flex;
    gap: 400px;
    /* position: sticky; */
    /* position: fixed; */
    /* margin-top: -26vh; */
}
.nav-bar{
    padding-top: 30px;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    font-size: 20px;
}
.logo h1{
    padding:20px 0px 0px 20px;
    font-size: 30px;

}
.nav-bar a:hover{
    color:grey;
    border-bottom: 2px solid white;
}
.button1{
    border: 2px solid whitesmoke;
    padding: 10px;
    background-color:white;
    color: black;
    text-transform: capitalize;
}
.button2{
    border: 2px solid whitesmoke;
    padding: 10px 20px 10px 20px;
    background-color:white;
    color:black;
    text-transform: capitalize;
}
.button1:hover{
    background-color:black;
    color: whitesmoke;
    border: 2px solid black;
}
.button2:hover{
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
}
section{
    text-align: center;
    margin-top: 150px;
    /* margin-top: -20vh; */
}
section h1{
    font-size: 30px;
    font-weight: lighter;
    color: white;
}
section h2{
    font-size: 50px;
    padding-top: 10px;
    font-weight: lighter;
    color:white;
}
section p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

    
}


/* about section starts from here */



.about{
    width: 100%;
    height: 100vh;
    background-color:grey;
    display: flex;
    margin-top: -2vh;
}
.about-image{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
}
.para1{
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: lighter;
    text-transform: none;

}
.about-button{
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
}
.about-button:hover{
    background-color:black;
    color: whitesmoke;
    border: 2px solid black;
}


/* places section starts from here */




.places{
    width: 100%;
    height: 150vh;
    /* background-color: gray; */
    margin-top: -3vh;
    box-sizing: border-box;
}
.display-container{
    width: 350px;
    height: 480px;
    box-sizing: border-box;
    /* border: 2px solid black; */
    padding-left: 5px;
}

.display-container img{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 5px;
    
    
    
}
.places-display{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
    box-sizing: border-box;
    margin-top: 50px;

}
.places h1{
    padding-top: 100px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;

}
.display-container h3{
    color: black;
    text-align: center;
    text-transform: capitalize;
}
.display-container p{
    color: black;
    font-size: 20px;
    text-align: left;
}
.display-container a{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    color: black;
    border-radius: 10px;
    text-transform: capitalize;
    

}
.display-container a:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}




/* footer section starts from here */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:white;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 50px;
    color: #fff;
}
.footer-content{
    background:linear-gradient(to right, #00093c, #2d0b00);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h9{
    color: white;
    font-size: 1.8rem;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background:linear-gradient(to right, #00093c, #2d0b00);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color:white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}